[user]
	name = zackfall
	email = isaachmi@proton.me
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cm = commit -S -a
	ps = !which onefetch && onefetch
[core]
	editor = nvim
[init]
	defaultBranch = main
