* {
    border:        none;
    border-radius: 0;
    font-family:   Ubuntu Nerd Font, monospace;
    font-size:     14px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color: #f0f1ce;
    background: #0f111b;
    opacity: 0.95;
}

window#waybar.solo {
    color:      #f0f1ce;
    background: #0f111b;
    opacity: 0.95;
}

#workspaces {
    font-family: UbuntuMono Nerd Font, monospace;
    font-size: 16px;
    margin: 4px 0 0 16px;
}

#workspaces button {
    padding: 0 6px;
    color: #686f9a;
    transition: 0.3s linear;
    opacity: 0.95;
}

#workspaces button:hover {
    background: #525563;
    opacity: 0.95;
}

#workspaces button.visible {
    color: #f0f1ce;
    opacity: 0.95;
}

#workspaces button.focused {
    opacity: 0.95;
}

#workspaces button.urgent {
    background-color: #b3a1e6;
    color: #0f111b;
    opacity: 0.85;
}

/* https://www.google.com */

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     4px 16px 0px 10px;
    min-width:  140px;
}

#battery {
    margin-top: 4px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

#tray {
    margin-left: 10px;
}
